<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.okvi.tp4d">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_start_1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_start_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".Activity.PetugasBaruActivity"></activity>
        <activity android:name=".Activity.KajariActionDisposisiActivity" />
        <activity android:name=".Activity.KajariBaruActivity" />
        <activity android:name=".Activity.PetugasHomeActivity" />
        <activity android:name=".Activity.KajariHomeActivity" />
        <activity android:name=".Activity.LoginPetugasActivity" />
        <activity android:name=".Activity.LoginKajariActivity" />
        <activity android:name=".Activity.PilihLoginPetugasActivity" />
        <activity android:name=".Activity.VerifikasiActivity" />
        <activity android:name=".Activity.PermohonanBaruDetailActivity" />
        <activity android:name=".Activity.PermohonanBaruActivity" />
        <activity android:name=".Activity.PemohonHomeActivity" />
        <activity
            android:name=".Activity.PemohonRegistrasiActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.PemohonLoginActivity"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>